<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>	

<body>
	<!-- Header -->
	<%- include('./partials/header') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="http://localhost:3000/bears/createprofile" method="POST">
	
					<label class="form-label" for="email">Email:</label>
					<input class="form-input" id="email" type="" name="email" value="<%= locals.oldData ? oldData.email : null %>">
					<% if (locals.errors && errors.email) {%>
						<div class="error-message"> <%= errors.email.msg %></div>
					<%} %>


					<label class="form-label" for="user">User:</label>
					<input class="form-input" id="user" type="text" name="user" value="<%= locals.oldData ? oldData.user : null %>">
					<% if (locals.errors && errors.user) {%>
						<div class="error-message"> <%= errors.user.msg %></div>
					<%} %>

					<label class="form-label" for="password">Password:</label>
					<input class="form-input" id="password" type="password" name="pass" value="">
					<% if (locals.errors && errors.pass) {%>
						<div class="error-message"> <%= errors.pass.msg %></div>
					<%} %>
						
			
					<label class="form-label" for="fecha_nacimiento">Fecha de nacimiento</label>
					<input class="form-input" type="date" name="fecha_nacimiento" id="fecha_nacimiento" value="<%= locals.oldData ? oldData.fecha_nacimiento : null %>">

					<label class="form-label" for="dni">DNI</label>
					<input class="form-input" type="number" name="dni" id="dni" value="<%= locals.oldData ? oldData.dni : null %>">

					<label class="form-label" for="foto_perfil">Foto de perfil</label>
					<input class="form-input" type="text" name="foto_perfil" id="foto_perfil" value="<%= locals.oldData ? oldData.foto_perfil : null %>">


				<button class="form-input" type="submit">Registrarse</button>
			</form>
		</div>
	</div>
		<!-- footer -->
		<%- include('./partials/footer') %>
		<!-- /footer -->
</body>

</html>