<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>	

<body>
	<!-- Header -->
<%- include('./partials/header') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<%  if(info.length===0){%>
			<h2 class="produc-no-disp">El producto no esta disponible</h2>
			<%} 
			else {
			 for(let i=0; i < info.length; i++){ %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="http://localhost:3000/mercadoLibre/product/<%- info[i].nombre%>">
								<figure class="product-box_image">
									<img src=<%- info[i].imagen %> alt="<%- info[i].nombre%>">
								</figure>
								<article class="product-box_data">
									<h2><%-info[i].nombre %></h2>
								
									<p><%-info[i].descripcion%></p>
									<p>Comentarios: <%- info[i].comentarios.length %></p>
								</article>
							</a>
						</section>
					</div>
			<%  }}%>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>